@model List<CarBook.Application.Features.CQRS.Results.CategoryResults.GetCategoryQueryResult>
<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler</h3>
        @foreach (var item in Model)
        {
            
        <li><a href="#">@item.CategoyName <span>(0)</span></a></li>
        }
    </div>
</div>
