@model List<CarBook.Application.Features.CQRS.Results.CategoryResults.GetCategoryQueryResult>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="page-content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-xl-6">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Kategori Listesi</h4>
						<p class="card-subtitle mb-4">
							Blog kategorileri ile ilgili ekleme,silme,güncelleme  ve listeleme gibi işlemleri bu sayfa üzerinden gerçekleştirebilirsiniz
						</p>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Kategori</th>
										<th>Sil</th>
										<th>Güncelle</th>
										<th>Kategoriye Ait Bloglar</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										count++;
										<tr>
											<th scope="row">@count</th>
											<td>@item.CategoyName</td>
											<td><a href="/Admin/AdminCategory/RemoveCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a></td>
											<td><a href="/Admin/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-outline-success">Güncelle</a></td>
											<td><a href="/Admin/AdminCategory/UpdateCategory/#" class="btn btn-outline-success">Kategoriye Ait Bloglar</a></td>
										
										</tr>
									}
								</tbody>
							</table>
							<td><a href="/Admin/AdminCategory/CreateCategory/" class="btn btn-outline-primary">Yeni Kategori Girişi</a></td>

						</div>

					</div>
					<!-- end card-body-->
				</div>
				<!-- end card -->

			</div>
			<!-- end col -->

		</div>
		<!-- end row -->

	</div> <!-- container-fluid -->
</div>




